<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.moneyplanning.mapper.ProjectMapper">

    <select id="showList" resultType="com.hy.moneyplanning.pojo.Project">
        select * from projectList
    </select>

    <select id="dynamicsList" resultType="com.hy.moneyplanning.pojo.Dynamic">
        select * from dynamics
    </select>

    <select id="newsList" resultType="com.hy.moneyplanning.pojo.News">
        select * from news
    </select>

    <select id="showInfo" resultType="com.hy.moneyplanning.pojo.Notice">
        select * from notice order by createTime asc
    </select>

    <select id="showTop" resultType="com.hy.moneyplanning.pojo.Top">
        select * from top t,user u where t.userId = u.id
    </select>
</mapper>