<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.moneyplanning.mapper.ProjectMapper">

    <select id="showList" resultType="com.hy.moneyplanning.pojo.Project">
        select * from projectList where type = "普通"
    </select>

    <select id="dynamicsList" resultType="com.hy.moneyplanning.pojo.Dynamic">
        select * from dynamics
    </select>

    <select id="newsList" resultType="com.hy.moneyplanning.pojo.News">
        select * from news
    </select>


    <select id="showInfo" resultType="com.hy.moneyplanning.pojo.Notice">
        select * from notice order by createTime asc
    </select>

    <select id="showTop" resultType="com.hy.moneyplanning.pojo.Top">
        select * from top t,user u where t.userId = u.id order by t.money desc
    </select>

    <select id="selectProjectDetailById" parameterType="int" resultType="com.hy.moneyplanning.pojo.Project">
        select * from projectList where id = #{id}
    </select>

    <select id="selectProjectById" parameterType="int" resultType="com.hy.moneyplanning.pojo.Company">
        select * from company where projectId = #{id}
    </select>

    <select id="selectControlInfo" parameterType="int" resultType="com.hy.moneyplanning.pojo.ControlInfo">
        select * from controlInfo where projectId = #{id}
    </select>

    <select id="selectSafety" parameterType="int" resultType="com.hy.moneyplanning.pojo.Safety">
        select * from safety where id = #{safetyId}
    </select>

    <select id="selectRiskControl" parameterType="int" resultType="com.hy.moneyplanning.pojo.RiskControl">
        select * from riskControl where id = #{riskcontrolId}
    </select>


    <select id="showRecommendList" resultType="com.hy.moneyplanning.pojo.Project">
        select * from projectList where type = "新手" or type ="体验"
    </select>
    <select id="selectManage" parameterType="int" resultType="com.hy.moneyplanning.pojo.Manage">
        select * from manage where projectId = #{id}
    </select>

    <select id="selectRepay" parameterType="int" resultType="com.hy.moneyplanning.pojo.Repay">
        select * from repay where manageId = #{id}
    </select>

    <select id="selectRecord" parameterType="int" resultType="com.hy.moneyplanning.pojo.RecordUser">
        select * from record_user where projectId = #{id}
    </select>

    <select id="selectAllMoney" resultType="int">
        select sum(money) from record_user
    </select>

    <select id="selectPeoples" resultType="int">
        select count(1) from user
    </select>

</mapper>