<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hy.moneyplanning.mapper.UserMapper">
    <!--验证账户是否存在-->
    <!--登录-->
    <select id="selectuser" resultType="int" parameterType="user">
        select count(1) from user where username = #{userName} and password = #{passWord}
    </select>

    <!--注册账户-->
    <insert id="register" parameterType="user">
    insert into user (userName,passWord,phoneNum) values (#{userName},#{passWord},#{phoneNum})
    </insert>

    <!--查询用户评论-->
    <select id="selectUserComment" parameterType="int" resultType="UserComment">
        select * from user_comment where projectId = #{id}
    </select>

    <!--新增用户评论-->
    <select id="insertUserComment" parameterType="UserComment">
        insert into user_comment (projectId,comment,userName,createTime) values (#{projectId},#{comment},#{userName},#{createTime})
    </select>

    <!--投资-->
    <insert id="insertRecordUser" parameterType="RecordUser">
        insert into record_user values (null,#{userName},#{money},#{createTime},#{state},#{projectId})
    </insert>
</mapper>